#ld-content-action{
    position: relative;
}

#skipButton {
    position: absolute;
    bottom: -80px;
    left: 57.5%;
    z-index: 99;
    background-color: #d96e6e;
    color: #ffff;
    transition: all linear .3s;
    border: 0px;
    border-radius: 15px;
    padding: 8px 20px;
}

#skipButton:hover {
    background-color: #f41212;
}